#course_details{
    padding: 120px 0;
}
#course_details{
    row-gap: 30px;
}
#course_details .course_content{
    background: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#course_details .course_content .course_content_img{
    height: 449px;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    background: var(--primary_text);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
#course_details .course_content .course_content_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#course_details .course_content .course_info .star span{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}
#course_details .course_content .course_info .project_manager_info{
    column-gap: 10px;
    
}
#course_details .course_content .course_info .project_manager_info .project_manager_image{
    width: 44px;
    height: 44px;
    background: var(--primary_text);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#course_details .course_content .course_info .project_manager h6{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
}
#course_details .course_content .course_info .project_manager span{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 12px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
#course_details .course_content .course_info .blog_cats{
    margin: 0 17px 0 42px ;
}
#course_details .course_content .course_info .star i{
    color: var(--orange);
    font-size: 14px;
}
#course_details .course_content .course_info .price{
    color: var(--orange);
    font-family: var(--urbanist);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; 
    text-transform: capitalize;
}
#course_details .course_content h4{
    padding: 30px 0 40px;
}
#course_details .course_content .tab_product .nav-tabs{
    border: none;
    margin-bottom: 50px;
    background: #F6F6F6;
    padding: 15px;
    gap: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#course_details .course_content .tab_product .nav-tabs .nav-link{
    background: var(--white);
    color: var(--primary_text);
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#course_details .course_content .tab_product .nav-tabs .nav-link.active{
    background: var(--orange);
    color: var(--white);
}
#course_details .course_content .tab_product .tab-content .description_main p{
    margin-bottom: 30px;
}
#course_details .course_content .tab_product .tab-content .description_main menu li{
    display: flex;
    gap: 13px;
    color: #2A254D;
    font-family: var(--urbanist);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
}
#course_details .course_content .tab_product .tab-content .description_main menu li i{
    color: var(--orange);
    font-size: 24px;
}



#course_details .course_content .tab_product .tab-content .tab_curriculum p{
    padding: 30px 0 20px;
}
#course_details .course_content .tab_product .tab-content .tab_curriculum ul{
    margin-bottom: 60px;
}
#course_details .course_content .tab_product .tab-content .tab_curriculum ul li{
    /* display: flex; */
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #E4E4E4;
}
#course_details .course_content .tab_product .tab-content .tab_curriculum ul li i{
    color: var(--orange);
    font-size: 30px;
}
#course_details .course_content .tab_product .tab-content .tab_curriculum .preview{
    padding: 8.5px 16px;
    background: #F6F6F6;
    color: #697585;
    font-family: var(--urbanist);
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    line-height: 26px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


#course_details .course_content .tab_product .tab-content .review .review_content{
    padding: 60px 0;
    border-bottom: 1px solid #E4E4E4;
}

#course_details .course_content .tab_product .tab-content .review .review_content .star i{ 
    color: var(--orange);
}
#course_details .course_content .tab_product .tab-content .review .add_review{
    margin-top: 50px;
}
#course_details .course_content .tab_product .tab-content .review .add_review span{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px; 
    text-transform: capitalize;
}
#course_details .course_content .tab_product .tab-content .review .add_review .rating{
    padding: 40px 0;
}
#course_details .course_content .tab_product .tab-content .review .add_review form .input-group{
    margin-bottom: 20px;
    gap: 20px;
}
#course_details .course_content .tab_product .tab-content .review .add_review form .input-group input{
    height: 60px;
    outline: 0;
    box-shadow: none;
    border: none;
    background: #F6F6F6;
}
#course_details .course_content .tab_product .tab-content .review .add_review form .input-group textarea{
    margin-bottom: 20px;
    height: 176px;
    outline: 0;
    box-shadow: none;
    border: none;
    background: #F6F6F6;
}
#course_details .course_content .tab_product .tab-content .review .add_review form  button{
    margin-top: 20px;
    column-gap: 10px;
    border: none;
}

#course_details .course_content .tab_product .tab-content .review .add_review .star i{
    color: var(--orange);
}

#course_details .course_content .tab_product .tab-content .review .review_content,
#course_details .course_content .tab_product .tab-content #tab_instructor .description{
    column-gap: 30px;
}
#course_details .course_content .tab_product .tab-content #tab_instructor .instructor_image,
#course_details .course_content .tab_product .tab-content #review .review_content,.user_image{
    height: 165px;
    width: 165px;
    background: var(--primary_text);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#course_details .course_content .tab_product .tab-content #tab_instructor span{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 12px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
#course_details .course_content .tab_product .tab-content #tab_instructor p,
#course_details .course_content .tab_product .tab-content .review .review_content .instructor_info p{
    margin-top: 20px;
}

#course_details .sidebar .course_details_sidebar_item{
    padding: 30px;
    margin-bottom: 36px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
}
#course_details .sidebar h4{
    padding-bottom: 30px;
    border-bottom: 1px dashed var(--orange);
}
#course_details .sidebar ul li{
    padding: 30px 0;
    border-bottom: 1px solid #E4E4E4;
}
#course_details .sidebar ul li i{
    color: var(--orange);
    padding-right: 15px;
}
#course_details .sidebar ul li span{
    display: inline-block;
    float: right;
}
#course_details .sidebar .sidebar_post .sidebar__post__image{
    height: 89px;
    width: 89px;
    overflow: hidden;
    background: var(--primary_text);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#course_details .sidebar .sidebar_post .sidebar__post__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#course_details .sidebar .sidebar_post .sidebar__post__content h6 a{
    color: var(--primary_text);
}
#course_details .sidebar .sidebar_post .sidebar__post__content .star i{
    padding: 0;
}

/* ===============================================================
 ==============Responsive====================================
 =============================================================== */
 @media (max-width:575.99px){
    #course_details {
        padding: 80px 0;
    }
    #course_details .course_content .course_content_img {
        height: 259px;
    }
    #course_details .course_content .course_info .blog_cats {
        margin:  0 !important;
    }
    #course_details .sidebar .course_details_sidebar_item {
        padding: 20px;
    }
    #course_details .sidebar .sidebar_post .sidebar__post__content .star i {
        font-size: 12px;
    }
 }

 /* =================small device============== */
 @media (min-width:576px) and (max-width:767.99px) {
    #course_details {
        padding: 80px 0;
    }
    #course_details .course_content .course_info .blog_cats {
        margin:  0 ;
    }
 }

 /* =============Medium device================= */
 /* @media (min-width:768px) and (max-width:991.99px) {} */

  /* =============large device================= */
  /* @media (min-width:992px) and (max-width:1199.99px) {} */