  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&family=Water+Brush&display=swap');
  :root{
    --urbanist: 'Urbanist', sans-serif;
    --waterBrush: 'Water Brush', cursive;

  }
  :root{
    --primary_text: #2A254D;
    --blue:#4F5DE3;
    --orange: #F57005;
    --white:#ffffff;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,menu{
    list-style-type: none
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}

/* ====================common css================== */
.primary_btn{
    font-family: var(--urbanist);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    position: relative;
    padding: 14px 20px;
    background: var(--orange);
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.primary_btn::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background: #F48B35;
    opacity: .3;
    right: 0;
    top: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.primary_btn:hover::after{
    width: 100%;
}
.common_h3{
    color: var(--primary_text,#2A254D);
    font-family: var(--urbanist);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px; 
    padding: 20px 0 40px;
}
.common_h5{
    color: var(--blue);
    font-family: var(--urbanist);
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
.common_h6{
    color: #2A254D;
    font-family: var(--urbanist);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.common_p{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 16px;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: 0.32px;
}

/* =====================navbar section============= */
.navbar{
    padding: 26px 0;
    z-index: 999999999;
}
.navbar-nav{
    column-gap: 55px;
}
.navbar-nav .nav-link{
    padding: 0;
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
 .navbar-nav .nav-link.show {
    color: var(--blue);
}
.nav_right{
    column-gap: 20px;
}
.nav_right .nav_right_child{
    column-gap: 12px;
}
.nav_right i{
    font-size: 24px;
    cursor: pointer;
}
.nav_right i:hover{
    color: var(--blue);
}
.nav_right .primary_btn{
    
    padding: 14px 20px;
    background: var(--orange);
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* =================banner seciton=============== */
#banner{
    padding: 298px 0 198px;
    overflow-x: hidden;
}
#banner .banner_content h1{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.4px;
}
#banner .banner_content h1 span{
    color: #F57005;
font-family: var(--waterBrush);
font-size: 107.057px;
font-weight: 400;
/* line-height: 137.03px;  */
letter-spacing: -2.141px;
}
#banner .banner_content p{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 19.995px;
    font-weight: 400;
    line-height: 30px; 
    padding: 30px 0 40px;
}
#banner .banner_content .primary_btn i{
    margin-left: 10px;
}
.bannarshap1{
    left: -132px;
    bottom: 20px;
}


@keyframes rotate {
    0% {
      transform: rotate(0deg);
      border-color: var(--orange);
    }
    50% {
      border-color: #e74c3c;
    }
    100% {
      transform: rotate(360deg);
      border-color: #3498db;
    }
  }

  .animated-circle {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    border: 24px solid transparent;
    bottom: 70px;
    left: 38%;
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.banner_book{
    top: -170px;
    left: 100px;
    animation: animation1 3s linear infinite;
    -webkit-animation: animation1 2s linear alternate infinite;
}
@keyframes animation1 {
    0%{
        left: 100px;
        top: -170px;
    }
    100%{
        left: 90px;
        top: -150px;
    }
}
.banner_shap{
    animation: animation2 2s linear infinite alternate;
    -webkit-animation: animation2 2s linear infinite alternate;
}
@keyframes animation2 {
    0%{
        top: 0px;
    }
    100%{
        top: -20px;
        
    }
}
.banner_clock{
    top: 378px;
    right: 0;
    animation: animation3 2s linear infinite alternate;
    -webkit-animation: animation3 2s linear infinite alternate;
}
@keyframes animation3 {
    0%{
        top: 378px;
    }
    100%{
        top: 400px;
        
    }
}

/* ================about section============== */
#about{
    padding: 120px 0;
}
#about .about_content .features{
    margin: 40px 0;
    padding: 24px 0 24px 130px;
    column-gap: 27px;
    border-radius: 8px;
    background: #F6F6F6;
}
#about .about_content .features::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 66px;
    background: var(--blue);
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
#about .about_content .features .feature_logo{
    left: 27px;
    z-index: 999;
    border: 5px solid var(--white);
    height: 76px;
    width: 76px;
    background: var(--orange);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#about .about_content .features .feature_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about .about_content .features h6{
    padding-bottom: 20px;
}
#about .contact_info{
    column-gap: 62px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #E4E4E4;
}
#about .contact_info .ceo_img_border{
    width: 76px;
    height: 76px;
    border: 2px solid var(--orange);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#about .contact_info .ceo_image{
    width: 62px;
    height: 62px;
    overflow: hidden;
    background: var(--primary_text);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#about .contact_info .ceo_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about .contact_info .ceo_info h2{
    color: #2A254D;
    font-family: var(--waterBrush);
    font-size: 45px;
    font-weight: 400;
    line-height: normal; 
}
#about .contact_info .contact_num .pone_logo{
    height: 53px;
    width: 53px;
    border: 2px solid #E4E4E4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#about .contact_info .contact_num .pone_logo i{
    color: var(--orange);
    font-size: 28px;
    font-weight: 500;
}
#about .contact_info .contact_num a{
    color: #4F5DE4;
    font-family: var(--urbanist);
    font-size: 24px;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 0.72px;
}
#about .about_content .primary_btn{
    padding: 21px 32px;
}

#about .about_image{
    margin-left: 120px;
    height: 560px;
    width: 460px;
    background: var(--primary_text);
    overflow: hidden;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
}

#about .about_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@keyframes moveAndChangeColor {
    0% {
      transform: translateY(0);
      background-color: #3498db;
    }
    50% {
      transform: translateY(20%);
      background-color: var(--primary_text);
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
}
    100% {
      transform: translateY(30%);
      background-color: var(--orange);
      -webkit-transform: translateY(30%);
      -moz-transform: translateY(30%);
      -ms-transform: translateY(30%);
      -o-transform: translateY(30%);
}
  }
  .color-changing-square {
    top: -60px;
    right: 120px;
    width: 115px;
    height: 168px;
    animation: moveAndChangeColor 2s linear infinite alternate;
    -webkit-animation: moveAndChangeColor 2s linear infinite alternate;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.about_image_bg{
    top: 86px;
    left: 50px;
    z-index: -9999999;
}
.about_vector{
    top: 0;
    animation: movevector 1s linear infinite alternate;
    -webkit-animation: movevector 1s linear infinite alternate;
}
@keyframes movevector {
    0%{
        top: 0;
    }
    100%{
        top:30px;
        
    }
}
.about_bg_squre{
    width: 200px;
    height: 170px;
    z-index: -9999999;
    top: -45px;
    left: 60px;
    border: 3px solid var(--orange);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    animation: movesqure 1s linear infinite alternate;
    -webkit-animation: movesqure 1s linear infinite alternate;
}
@keyframes movesqure {
    0%{
        top: -55px;
        left: 50px;
        border: 3px solid var(--orange);
    }
    100%{
        top:-45px;

        left: 60px;
        border: 3px solid var(--blue);
    }
}
.about_image_shape3{
    bottom: -20px;
    left: 70px;
}

/* ==================service section================ */
#service{
    padding: 120px 0;

}
#service .section_header{
    margin-bottom: 40px;
}
#service .section_header .right_side .common_p{
    padding-top: 20px;
    border-top: 3px solid var(--orange);
}
#service .feature_item_wrapper .feature_item {
    background: var(--white);
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

#service .feature_item_wrapper .feature_item .feature_item_top{
    padding: 40px 44px 0;
}
#service .feature_item_wrapper .feature_item:hover{
    background: var(--primary_text);
}
#service .feature_item_wrapper .feature_item h6{
    padding: 30px 0;
}
#service .feature_item_wrapper .feature_item p{
    padding-bottom: 40px;
    
}
#service .feature_item_wrapper .feature_item:hover h6,
#service .feature_item_wrapper .feature_item:hover p{
    color: var(--white);
}
#service .feature_item_wrapper .feature_item .feature_item_bottom{
    border-top: 1px solid #E4E4E4;
}
#service .feature_item_wrapper .feature_item:hover .feature_item_bottom{
    border-top: 1px solid var(--blue);
}
#service .feature_item_wrapper .feature_item .link{
    padding: 22px 34px;
    font-size: 20px;
    color: var(--primary_text);
    background: #F6F6F6;
}
#service .feature_item_wrapper .feature_item:hover .link{
    background: var(--blue);
    color: var(--white);
}
@keyframes pulse {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        opacity: 1;
}
      100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: .2;
}
  }


  .play {
    z-index: 99999;
    position: relative;
    width: 256px;
    height: 256px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.play::before{
    /* z-index: -9999; */
    position: absolute;
    content: "";
    width: 356px;
    height: 356px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s 1s infinite ;
}
.play::after{
    /* z-index: -999; */
    position: absolute;
    content: "";
    width: 406px;
    height: 406px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s  infinite ;
}

  /* ===================cta section============== */
  #cta{
    padding: 120px 0;
  }
  #cta .play{}
  #cta .play i{
    color: var(--orange);
    font-size: 30px;
  }

/* =============counter section========== */
#counter{
    padding: 0 0 120px;
}
#counter .counter_wrapper{
    
    /* background: rgba(79, 94, 227, 0.5); */
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}
#counter .counter_wrapper .counter_item_content{
    position: relative;
    margin: 50px 0;
}
#counter .counter_wrapper .counter_item_content:hover img{
    transition: all linear .2s;
    transform: rotatey(180deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#counter .counter_wrapper .counter_item_content::after{
    position: absolute;
    content: "";
    height: 100%;
    right: -10px;
    top: 0;
    border-right: 2px dashed #E4E4E4;
}
#counter .counter_wrapper .col-lg-3:last-child .counter_item_content::after{
    display: none;
}
#counter .counter_wrapper .counter_item_content .counter_number{
    padding: 30px 0 20px;
}
#counter .counter_wrapper .counter_item_content .counter_number span{
    color: #FFF;
    font-family: var(--urbanist);
    font-size: 60px;
    font-weight: 700;
    line-height: 60px; 
}
#counter .counter_wrapper .counter_item_content p{
    color: #E4E4E4;
}

/* ============course section============== */
#course{
    padding: 120px 0;
}
#course .course_wrapper{
    row-gap: 30px;
}
#course .course_wrapper .course_item{
    background: var(--white);
    box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#course .course_wrapper .course_item .course_image{
    height: 283px;
    width: 226px;
    overflow: hidden;
    background: var(--primary_text);
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
#course .course_wrapper .course_item .course_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#course .course_wrapper .course_item .course_content{
    padding: 25px 30px;
}
#course .course_wrapper .course_item .course_content .duration{
    padding: 10px;
    background: var(--primary_text);
    color: var(--white);
    font-family: var(--urbanist);
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#course .course_wrapper .course_item .course_content .star{
    padding: 10px 0 5px;
}
#course .course_wrapper .course_item .course_content .star i{
    color: var(--orange);
    font-size: 14px;
}
#course .course_wrapper .course_item .course_content .star span{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}
#course .course_wrapper .course_item .course_content a{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px; 
}
#course .course_wrapper .course_item .course_content .course_details{
    padding: 12px 18px;
    border-radius: 6px;
    background: #F6F6F6;
    margin-top: 10px;
}
#course .course_wrapper .course_item .course_content .course_details .project_manager_info{
    column-gap: 10px;
    
}
#course .course_wrapper .course_item .course_content .course_details .project_manager_info .project_manager_image{
    width: 44px;
    height: 44px;
    background: var(--primary_text);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#course .course_wrapper .course_item .course_content .course_details .project_manager h6{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
}
#course .course_wrapper .course_item .course_content .course_details .project_manager span{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 12px;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
#course .course_wrapper .course_item .course_content .course_details .price{
    color: var(--primary_text);
    font-family: var(--urbanist);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; 
    text-transform: capitalize;
}
#course .course_wrapper .course_item .course_content .course_details .lesson{
    color: #697585;
    font-family: var(--urbanist);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px; 
    text-transform: uppercase;
}
/* ============category section============== */
#category{
    padding: 120px 0;
}
#category .category_wrapper{
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#category .category_wrapper .category_item{
    padding: 56px 78px;
    background: var(--primary_text);
}
#category .category_wrapper .category_item .category_item_icon{
    margin-bottom: 27px;
}
#category .category_wrapper .category_item:hover .category_item_icon img{
    transition: all linear .2s;
    transform: rotatey(180deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
#category .category_wrapper .category_item:hover a h5{
    color: var(--orange) !important;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}